@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #363d6b;
    font-family: "Poppins";
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#searchInput {
    padding: 5px;
    border-radius: 50px;
    background-color: transparent;
    outline: none;
    margin-top: 15px;
    margin-right: 25px;
    color: #fff;
}

#searchInput::placeholder{
    color: lightgrey;
    font-size: 12px;
    text-align: center;
}

.movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.movie {
    margin: 6px;
    width: 260px;
    height: 405px;
    background-color: #53597f;
}

.moviePicture {
    width: 260px;
    height: 320px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.movieName {
    font-size: 13px;
    color: lightgrey;
    margin-right: 10px;
}

.imdbPoint {
    font-size: 15px;
    color: black;
    background-color: rgb(223, 216, 21);
    padding: 3px;
}

.green{
    background-color: rgb(22, 112, 22);
    color: #fff;
}

.yellow{
    background-color:  rgb(223, 216, 21);
    color: black;
}


.red{
    background-color: red;
    color: #fff;
}