@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0px;
}

body {
    background-image: url('wp1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Poppins', sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.app {
    margin-top: 50px;
    background-color: rgb(224, 224, 224);
    opacity: 0.8;
    width: 400px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 1px 14px rgb(98, 98, 98);

}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(240, 136, 0);
}

#searchInput{
    padding: 10px;
    width: 100%;
    /* border: 1px solid lightgrey; */
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid grey;
    box-shadow: 10px 5px 50px lightgrey;

}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.cityName{
    font-size: 40px;
}

.degree{
    color: rgb(24, 24, 24);
    margin-top: 5px;
    font-size: 75px;
}


.state{
    margin-top: 5px;
    font-size: 25px;
}