#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    width: 600px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wrapper>h4 {
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


input {
    padding: 5px;
    margin: 0px 10px;
    width: 120px;
   
}

select {
    padding: 5px;
}

span {
    display: block;
    text-align: center;
    margin-top: 20px;
}